html, body{
    height:100%;
    width: 100%;
}

header{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    border-bottom: .1rem solid black;
    background-color: #163FE0;
}

.fundo{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.fa-bars{    
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
}

.fa-envelope-o{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
}

header h1{
    position: relative;
    font-size:1.5rem;
    color:white;
    font-family: 'IBM Plex Sans', sans-serif;

}

main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6%;
    background-color: #D6C1C0;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
.footer .fa-home{
    font-size: 1.5rem !important;
    margin-left: 0.5rem;
}
.footer .fa-user{
    font-size: 1.5rem !important;
    margin-right: 0.5rem;
}
.footer .fa-search{
    font-size: 1.5rem !important;
}
/* intro*/
.intro a{
    display: block;
    border: .1rem solid black;
    padding: .5rem 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    text-decoration: underline;
    font-family: 'PT Serif', serif;
}

.intro h2 {
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: 'PT Serif', serif;
}

/* para a tela menu */

.menu {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-evenly;
    overflow: scroll;
    width: 100%;
}

.menu ul{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}

.post-1{
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    
}

.profile{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 0.5rem;
}

.profile p{
    font-size: 1rem;
    font-family: 'PT Serif', serif;
}

.fa-user{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.post-1 img{
    display: block;
    position: relative;
    align-self: center;
    height: 50%;
    width: 50%;
}

.img {
    width: 95%%;
    display: flex;
    justify-content: center;
    border: .1rem solid black;
    padding: 0.5rem;
    margin: 0.5rem;
}

.like{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.like p {
    font-size: 1rem;
    font-family: 'PT Serif', serif;
}

.like .fa-heart-o{
    margin-left: 0.5rem;
}

.like .fa-comment-o {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.profile-2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 0.5rem;
}

.profile-2 p{
    font-size: 1rem;
    font-family: 'PT Serif', serif;
}

.post-2 img{
    position: relative;
    align-self: center;
    height: 50%;
    width: 50%;
}

.Seletivo{
    width: 88%;
    display: flex;
    justify-content: center;
    border: .1rem solid black;
    padding: 0.5rem;
    margin: 0.5rem;
}

.fa-id-card-o{
    display: flex;
    font-size: 4.5rem !important;
}

/* Tela perfil time*/

.pain {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.linha{
    flex-grow: 1;
    display: flex;
    border-bottom: .1rem solid black;

}

.pain img {
    position: absolute;
    top: 5rem;
    left: 2rem;
    width: 5rem;
    height: 5rem;
    background-color: #ddd;
    border-radius: 50%;
    height: 75px;
    object-fit: cover;
    width: 75px; 
}

.name p{
    flex-grow: 1;
    display: flex;
    justify-content: self-start;
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
}

.status{
    flex-grow: 1;
    display: flex;
    justify-self:flex-end;
    justify-content: space-between;
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
}

.post_f {
    width: 30%;
    height: 50%;
    display: flex;
    border: .1rem solid black;
    padding: 0.5rem;
    margin: 0.5rem;

}


