html, body{
    height:100%;
    width: 100%;
}

header{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    border-bottom: .1rem solid black;
    background-color: #163FE0;
}

.fundo{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
}

.list {
    display: none;
    flex-grow: 1;
    position:absolute;
    top:0px;
    left:0px;
    width:10rem;
    height: 100%;
    background:#434961;
    opacity: 1;
    z-index: 300;
    transition:all 300ms linear;
}

.toggle-btn {
    position:absolute;
    left:1rem;
    top:1rem;
    cursor:pointer;
    transition:all 300ms linear; 
}
.list-2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.list-2 .item {
    padding:1rem 2rem;
    border-bottom:0.1rem solid black;
    color: black;
    text-transform:uppercase;
    font-size:1rem;
    font-family: 'PT Serif', serif;
}


.fa-envelope-o{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
}

header h1{
    position: relative;
    font-size:1.5rem;
    color:white;
    font-family: 'IBM Plex Sans', sans-serif;

}

main{
    display: flex;
    flex-grow: 1;
    overflow: scroll;
    width: 100%;
    height: 100%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6%;
    background-color: #D6C1C0;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
.footer .fa-home{
    font-size: 1.5rem !important;
    margin-left: 0.5rem;
}
.footer .fa-user{
    font-size: 1.5rem !important;
    margin-right: 0.5rem;
}
.footer .fa-search{
    font-size: 1.5rem !important;
}


/* intro*/

.intro{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.intro a{
    box-shadow: inset 0 0 0.3rem #434961;
    display: block;
    border: .1rem solid #D6C1C0;
    align-self: center;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    text-decoration: underline;
    font-family: 'PT Serif', serif;
    color: black;
    text-decoration: none;
}

.intro img {
    align-self: center;
    height: 10rem;
    width: 10rem;
}

/* para a tela menu */
.menu{
    display: flex;
    flex-grow: 1;
    height: 80% !important;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    overflow: scroll;
}

.menu ul{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%; 
}

.feed {
    align-self: flex-start;
    width: 100%;
    border-bottom: .1rem solid black;
    font-family: 'PT Serif', serif;
    font-size: 2rem;
    color: #434961;
    box-shadow: inset 0.01rem 0 0.3rem 0 #434961;

}
.post-1{
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    
    
}

.profile{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 0.5rem;
}

.profile p{
    font-size: 1rem;
    font-family: 'PT Serif', serif;
    text-decoration: none;
}

.fa-user{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.post-1 img{
    display: block;
    position: relative;
    align-self: center;
    height: 30%;
    width: 30%;
}

.img {
    width: 88%;
    display: flex;
    justify-content: center;
    border: .1rem solid black;
    padding: 0.5rem;
    margin: 0.5rem;
}

.like{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.like p {
    font-size: 1rem;
    font-family: 'PT Serif', serif;
}

.like .fa-heart-o{
    margin-left: 0.5rem;
}

.like .fa-comment-o {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.profile-2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 0.5rem;
}

.profile-2 a{
    font-size: 1rem;
    font-family: 'PT Serif', serif;
    color: black;
    text-decoration: none;
}

.post-2 img{
    position: relative;
    align-self: center;
    height: 50%;
    width: 50%;
}

.Seletivo{
    width: 88%;
    display: flex;
    justify-content: center;
    border: .1rem solid black;
    padding: 0.5rem;
    margin: 0.5rem;
}

.fa-id-card-o{
    display: flex;
    font-size: 4.5rem !important;
}

/* Tela perfil time*/

.pain-ul {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.nome_pagina{
    display: flex;
    font-family: 'IBM Plex Sans', sans-serif;
    align-self: center;
    font-size: 1.5rem;
}
.pain-ul .cima{

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: flex-start;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.contadores{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    box-shadow: inset 0.01rem 0 0.3rem 0 #434961;
}

.Seguidores{
    border: .1rem solid black;
    border-left: 0rem;
    padding: 0.5rem;
    margin-right: 1%;
    height: 2rem;
}

.Posts{
    border: .1rem solid black;
    border-right: 0rem;
    padding: 0.5rem;
    margin-right: 1%;
    height: 2rem;
}


.num{
    font-size: 0.75rem;
    font-family: 'PT Serif', serif;
}

.num-2{
    font-size: 0.75rem;
    font-family: 'PT Serif', serif;
}


.palavra{
    text-decoration: underline;
    font-size: 0.75rem;
    font-family: 'PT Serif', serif;
}

.pain img {
    align-self: flex-start;
    height: 5rem;
    width: 5rem;
    margin-top: 5%;
    background-color: #dddddd;
    border-radius: 50%;
    object-fit: cover;
}

.status{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 1rem;
    padding-left: 1rem;
    border-top: .1rem solid black;
    border-bottom: .1rem solid black;
}

.status p{
    font-size: 1rem;
    color: black;
    padding: 0.1rem;
    font-family: 'PT Serif', serif;
}

.status a{
    color: black;
    text-decoration: none;
    font-weight: bolder
}

.Postagens{
    display:flex;
    flex-grow:1;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.linha{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly !important;
    border-bottom: .1rem solid black;
}
.borda{
    padding: 1rem;
    border-right: .1rem solid black; 
}

.ultimo{
    padding: 1rem;
}

.linha i{
    font-size: 3rem;
}

/*Inscrição*/

.main_inscricao{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}
.Titulo{
    display: flex;
    width: 100%;
    border-bottom: .1rem solid black; 
    font-size: 1.5rem;
    font-family: 'IBM Plex Sans', sans-serif;
    color:#434961;
    box-shadow: inset 0.01rem 0 0.3rem 0 #434961;
}

.Inscrição{
    width: 100%;
    height: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-evenly;
}

.Inscrição .form form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.nome, .idade, .cidade, .email {
    margin-bottom: 0.5rem;
}
.Inscrição .form{
    align-self: center;
}

.inscricao_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
    padding: 2rem;
 
    

}

.inscricao_bottom .voltar{
    font-size: 1rem;
    font-family: 'PT Serif', serif;
    color: black;

    

}
.inscricao_bottom .enviar_ins {
    font-size: 1rem;
    font-family: 'PT Serif', serif;
    color: black;
    
}

/* publicar */

.publicar_main{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
}
.publicar{
    width: 100%;
    height: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-around;
}

.Postar {
    align-self: flex-start;
    width: 100%;
    border-bottom: .1rem solid black;

}
.Postar p{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2rem;
    color: #434961;
    box-shadow: inset 0.01rem 0 0.3rem 0 #434961;
}

.publicar_post{
    border: .1rem solid black;
    padding: 1rem;
}

.publicar_top form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: flex-start;
}

.comentário, .marcar{
    padding: 0.2rem;
    margin: 0.2rem;
}

.profile_p{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start !important;
    margin-bottom: 0.5rem;
}

.profile_p p{
    font-size: 1rem;
    font-family: 'PT Serif', serif;
}

.publicar_bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
}

.publicar_bottom .voltar {
    font-size: 1rem;
    font-family: 'PT Serif', serif;
    color: black;
}

.publicar_bottom .compartilhar_pu {
    font-size: 1rem;
    font-family: 'PT Serif', serif;
    color: black;
}


